@charset "utf-8";
@font-face {
	font-family: 'FonteTexto';
	src: url("fonts/Bubblegum.ttf");
}
.marcador {
	background: #fe9d9d;
	border: 1px solid #f94646;
}

.marcador2 {
	background: #5bf946;
	border: 1px solid #36ae26;
}

body {
	background: #4B5320;
	color: #FFFAF0;
	font-family: 'FonteTexto', sans-serif;
	
}

#margem {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	text-align: justify;

}